body {
    font-family: "Lato", sans-serif;
    background-color: #faf4f4;
}
.page{
    display: flex;
}
.sidebar {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 16px;
    display: inline-block;
}
.container{
    margin-right: 0 !important;
    display: inline-block !important;
}
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #faf4f4;
    display: block;
}
.sidebar a:hover {
    color: #d22e2c;
}
.adminmain {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}
@media screen and (max-height: 450px) {
    .sidebar {
    padding-top: 15px;
    }
    .sidebar a {
    font-size: 18px;
    }
}
.form-control:focus{
    border-color: #d22f2cbb !important;
    box-shadow: 0 0 0 0.25rem rgb(210 46 44 / 0.25);
}

.btn-outline-success{
    color: #d22e2c !important;
    border-color: #d22f2cbb !important;
}
.btn-outline-success:hover{
    color: #ffffff !important;
    background-color: #d22e2c !important;
    border-color: #d22f2cbb !important;
}
.btn-outline-success:active{
    color: #ffffff !important;
    background-color: #d22e2c !important;
    border-color: #d22f2cbb !important;
}
.btn-outline-success:focus{
    box-shadow: 0 0 0 0.25rem rgb(210 46 44 / 0.25);
}