body{
	background-color:#ededf0;
	font-family: cursive;

}
.reg{
    margin:0px auto;
    padding:20px;
    width:80%;
    background-color:#ededf0;
}
.register{
text-align: center;
}
.user_table {
    margin-top: 5%;
    border-collapse: collapse;
    width: 100%;
}
.user_table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
.user_table tr:nth-child(even){
    background-color: #f2f2f2;
}
.user_table tr:hover {
    background-color: #ddd;
}
.user_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #d22e2c;
    color: white;
}
.user_table td:last-child{
    text-align:center;
}
.errors{
    margin:0px auto;
    width:80%;
    color:red;
    /* text-align:center; */
}
.messages {
    list-style-type: none;
}
td input[type="text"], input[type="password"],input[type="email"]{
    background-color:#f1f1f1;
    width:90%;
    padding:3px;
    }
.thanks{
    margin:0 auto;
    width:450px;
    background-color:white !important;
    border:1px solid #d22e2c !important;
    background-color:#ededf0 !important;
    font-size:24px;
    padding:10px;
    text-align: center;
}
.btn-outline-success{
    color: #d22e2c !important;
    border-color: #d22f2cbb !important;
}
.btn-outline-success:hover{
    color: #ffffff !important;
    background-color: #d22e2c !important;
    border-color: #d22f2cbb !important;
}
.btn-outline-success:active{
    color: #ffffff !important;
    background-color: #d22e2c !important;
    border-color: #d22f2cbb !important;
}
.btn-outline-success:focus{
    box-shadow: 0 0 0 0.25rem rgb(210 46 44 / 0.25);
}
.form-control:focus{
    border-color: #d22f2cbb !important;
    box-shadow: 0 0 0 0.25rem rgb(210 46 44 / 0.25);
}

