.reg{
    margin:0px auto;
    padding:20px;
    width:80%;
    background-color:#ededf0;
}
.register{
text-align: center;
}
table{
<<<<<<< HEAD
    margin:0 auto;
    width:80% !important;
=======
    width:100%;
>>>>>>> 42bcbba83cd2e946a226e9217c0ce1ec0ee17637
    text-align:center;

}
td{
    padding-left:20px;
    text-align:left;
}

td:last-child{
    text-align:center;
}
.errors{
    margin:0px auto;
    width:80%;
    color:red;
    /* text-align:center; */
}


.messages {
    list-style-type: none;
}

td input[type="text"], input[type="password"],input[type="email"]{
    background-color:#f1f1f1;
    width:90%;
    padding:3px;
    }
    

<<<<<<< HEAD


.thanks{
    margin:0 auto;
    width:450px;
    background-color:white;
    border:1px solid #d22e2c;
    background-color:#ededf0;
    font-size:24px;
    padding:10px;
}
.btn-outline-success{
    color: #d22e2c;
    border-color: #d22f2cbb;
}
.btn-outline-success:hover{
    color: #ffffff;
    background-color: #d22e2c;
    border-color: #d22f2cbb;
}
.btn-outline-success:active{
    color: #ffffff;
    background-color: #d22e2c;
    border-color: #d22f2cbb;
}
.btn-outline-success:focus{
    box-shadow: 0 0 0 0.25rem rgb(210 46 44 / 0.25);
}
.form-control:focus{
    border-color: #d22f2cbb;
    box-shadow: 0 0 0 0.25rem rgb(210 46 44 / 0.25);
}
=======
td input[type="submit"]{
    width:100px;
    height:40px;
    background-color:#d22e2c;
    border:1px solid black;
    border-radius:7px;
    margin-top:40px;
}

>>>>>>> 42bcbba83cd2e946a226e9217c0ce1ec0ee17637
