.reg{
    margin:0px auto;
    padding:20px;
    width:80%;
    background-color:#ededf0;
}
.register{
text-align: center;
}
table{
    width:100%;
    text-align:center;

}
td{
    padding-left:20px;
    text-align:left;
}

td:last-child{
    text-align:center;
}
.errors{
    margin:0px auto;
    width:80%;
    color:red;
    /* text-align:center; */
}


.messages {
    list-style-type: none;
}

td input[type="text"], input[type="password"],input[type="email"]{
    background-color:#f1f1f1;
    width:90%;
    padding:3px;
    }
    

td input[type="submit"]{
    width:100px;
    height:40px;
    background-color:#d22e2c;
    border:1px solid black;
    border-radius:7px;
    margin-top:40px;
}

