<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booktionery | Home Page</title>
</head>
<body>
    <h1>Welcome to Booktionery Shop</h1>
    <h2>Ameen Mais Abdelsalam</h2>
    <a href="register">register</a>
    <a href="user">userprofile</a>
    <a href="thanks">thanks page</a>
    <a href="admin2">admin page orders</a>
    <a href="admin3">admin page users</a>
    <a href="admin4">admin page products</a>
</body>
</html>