{% include "header/header_s2.html" %}
<!DOCTYPE html>

<html>

<head>
	{% load static %}
	<title>Booktionery</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/product.css' %}">

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="box-element">
					<div class="prod_img">
						{% with '../static/img/'|add:product.img as imagePath %}
						<img src='{% static imagePath %}.png' class="thumbnail" alt="{{product.name}}">
						{% endwith %}
					</div>
					<div class="cart-row">
						<div id="product_name">{{product.name}}</div>
						<div id="desc">
							<p>Product details:<br>{{product.description}}</p>
						</div>
						<div>
							<form action="/addcart2/{{product.id}}" method="post">
								{% csrf_token %}
								<label for="quantity"><input class="form-control me-2 quantity" type="number"
										id="quantity" name="quantity" min="1" max="{{product.available_quantity}}" value="1"></label>
								<label for="price">Price: ${{product.price}}</label>
								<br>
								<button class="btn btn-outline-success btn-my" type="submit"><i class="fa fa-shopping-cart"
									aria-hidden="true"></i>Add to Cart</button>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<hr>
		<h2>Similar Items</h2>
		<hr>
		<div class="row">
			{% for product in category %}
			<div class="col-lg-3">
				{% with '../static/img/'|add:product.img as imagePath %}
				<img src='{% static imagePath %}.png' class="thumbnail" alt="{{product.name}}">
				{% endwith %}
				<div class="box-elements product">
					<h6><strong>{{product.name}}</strong></h6>
					<h6><strong>${{product.price}}</strong></h6>
					<hr>
					<a class="btn btn-outline-success" href="/details/{{product.cat.name}}/{{product.id}}">Details</a>
					<a class="btn btn-outline-success" href="/addcart/{{product.cat.name}}/{{product.id}}">Add to cart</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>


</body>

</html>