<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/validate.js' %}"></script>

    <title>Registration Form</title>
  </head>
  <body>
    <div class="reg">
        <h2 class="register">Register</h2>
        <form method="POST" action="/register">
          {% csrf_token %}
          <table>
            <tr>
              <td>First Name:</td>
              <td><input type="text" name="fname" minlength="2" required /></td>
              <td>Last Name:</td>
              <td><input type="text" name="lname" minlength="2" required /></td>
            </tr>
            <tr>
                <td>Mobile No:</td>
                <td><input type="text" name="mobile" minlength="10" maxlength="10" required /></td>
                <td>Address:</td>
                <td><input type="text" name="address" minlength="2" required /></td>
            </tr>
            <tr>
              <td>Password:</td>
              <td><input type="password" name="password" id="password" minlength="8" required/></td>
              <td>Confirm Pwd:</td>
              <td><input type="password" name="pwdconfirm" id="pwdconfirm" minlength="8" required onkeyup="check();"/></td>
            </tr>
            <tr>
              <td colspan="4"><input type="submit" value="Register" /></td>
            </tr>
          </table>
          <span id="message"></span>
        </form>
    </div>

    <div class="errors">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
  </body>
</html>
