{% include "header/header_s2.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>User Orders page</title>
</head>
<body>
  <div class="container">
    <table class="user_table">
          <tr>
            <th>Order ID</th>
            <th>Products</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
          </tr>
        <tbody>
          {%for order in user_orders%}
        
          <tr>
            <td rowspan={{order.order_cart.all.count}}>{{order.id}}</td>{%for item in order.order_cart.all%}
            <td>{{item.product.name}}</td><td>{{item.quantity}}</td><td>{{item.product.price}}</td><td>{% widthratio item.product.price 1 item.quantity%}</td>
          </tr>
          {%endfor%}
          <tr><td></td><td></td><td></td><td><b>Order Price</b></td><td><b>{{order.total_price}}</b></td></tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
    {% include "footer/footer.html" %}
</body>
</html>