<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <title>Bookstionery | Store</title>
</head>

<body>
    <div class="container">
        <div class="row space-between header">
            <div class="logo-img col-lg-2 ">
                <img src="{% static 'img/logo.png' %}" alt="booktionery logo">
            </div>
            <div class="search col-lg-4">
                <form class="d-flex" action="/search" method="POST">
                    {% csrf_token %}
                    <input name="product" id="product" class="form-control me-2 product" type="search"
                        placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script>
                    $(function () {
                        $("#product").autocomplete({
                            source: '{% url "search" %}',
                            minLength: 2
                        });
                    });
                </script>
            </div>
            <div class="col-lg-5 space-between">
                {% if not user_id %}
                <form class="d-flex space-center" action="/login" method="POST">
                    {% csrf_token %}
                    <div class="margin-l-r">
                        <input class="form-control me-2" name="mobile_number" type="text" placeholder="Mobile Number"
                            id="mobile_number" required>
                        <input class="form-control me-2" name="password" type="password" placeholder="Password"
                            id="password" required>
                    </div>
                    <div>
                        <button class="btn btn-outline-success btn-m" type="submit">Log-in</button>
                        <br>
                        <a class="anchor" href="/register">Register</a>
                    </div>
                </form>
                {% endif %}
                {% if user_id %}
                <div class="center">
                    <h4>Welcome {{first_name}}</h4>
                    <a class="anchor" href="/{{user_id}}">My Profile</a> | <a class="anchor" href="/logout">Logout</a>
                </div>
                {% endif %}
            </div>
            <div class="col-lg-1">
                <a class="btn btn-outline-success btn-m btn-border cart" href="/cart/{{user_id}}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{request.session.cart}}</a>
            </div>
        </div>
        <div id="demo" class="carousel slide" data-ride="carousel" data-interval="2000">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="slidershow">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/slider1.jpg' %}" alt="" width="100%" height="450px">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/slider2.jpg' %}" alt="" width="100%" height="450px">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/slider3.jpg' %}" alt="" width="100%" height="450px">
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse space-around" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            {% if user_id %}
                            <a class="nav-link active" aria-current="page" href="/success">Home</a>
                            {% endif %}
                            {% if not user_id %}
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                            {% endif %}
                        </li>
                        {% for category in categorys %}
                        {% if category.name != 'school_tools' %}
                        <li class="nav-item">
                            {% if not user_id %}
                            <a class="nav-link" href="/products/{{category.name}}">{{category.name}}</a>
                            {% endif %}
                            {% if user_id %}
                            <a class="nav-link" href="/success/products/{{category.name}}">{{category.name}}</a>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% if category.name == 'school_tools' %}
                        <li class="nav-item">
                            {% if not user_id %}
                            <a class="nav-link" href="/products/{{category.name}}">school tools</a>
                            {% endif %}
                            {% if user_id %}
                            <a class="nav-link" href="/success/products/{{category.name}}">school tools</a>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>